/* 
iPad  Mini x 768 x 1024 
iPad Pro 11' 834 x 1194 
iPad Pro 12.9 1024 x 1366
*/

@media screen and (min-width: 481px) and (max-width:900px) {

    /* responsive navs */

    #nav1icons i {
        display: none;
        font-size: 1.875em;
        text-align: left;
    }

    #nav1iconsWhite i {
        display: none;
        font-size: 1.875em;
        text-align: left;
        color: white;
    }

    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    #nav1Black a {
        display: inline;
        grid-template-columns: 100%;
        padding: 0.0625em;
        font-size: 0.75em;
    }

    #nav1 a {
        display: inline;
        grid-template-columns: 100%;
        padding: 0.0625em;
        font-size: 0.75em;
    }

    #nav1icons i,
    a:visited {
        display: none;
        font-size: 0.75em;
        text-align: left;
        color: black;
    }

    #nav1iconsWhite i,
    a:visited {
        display: none;
        font-size: 1.875em;
        text-align: left;
        color: white;
    }

    html #wallpaper {
        margin: 0em;
        padding: 0em;
        max-width: 100%;
        margin: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }

    body {
        background-color: black;
        color: white;
    }

    #logo1 figcaption {
        text-align: center;
    }

    #logo1 img {
        height: 100%;
        width: 40%;
    }

    #logo2 img {
        display: block;
    }

    #monogram img {
        height: 5.36rem;
        width: 5.36rem;
    }

    #galleryBrands img {
        border-radius: 3%;
        width: 13rem;
    }

    #galleryBrands figure {
        width: 13rem;
    }

    #galleryBrands figcaption {
        width: 7rem;
        padding-top: .714rem;
        padding-left: .071rem;
        color: hotpink;
        text-align: left;
    }

    /* box model */

    #nav1 #nav1Black {
        padding: .57rem;
    }

    #nav1# nav1Black a {
        padding-right: .714rem;
    }

    #profile {
        grid-column: 1 / 3;
    }

    #aboutIcons,
    #visualMediaIcons,
    #digitalSkillsIcons,
    #contactIcons {
        height: 40%;
    }

    #monogram {
        display: inline-grid;
        grid-template-columns: 40% 40% 40%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #galleryTypography {
        width: 45em;
    }

    .pdf img {
        height: 100%;
        width: 60%;
    }

    .pdf figcaption {
        width: 64%;
        color: orange;
    }

    footer {
        padding: .571rem;
    }

    /* columns */

    header {
        display: block;
        grid-template-columns: 100%;
    }


    /* iPad  Mini x 768 x 1024 */
    main {
        margin: auto;
        width: 48em;
        height: 64em;
    }

    #aboutIcons {
        display: grid;
        grid-template-columns: 45% 45% 45%;
        grid-column: 1 / 3;
        grid-row: 3 / 5;
        width: 60%;
    }

    #aboutIcons i {
        color: black;
    }

    #visualMediaIcons {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align: center;
        justify-content: center;
    }

    #contactIcons {
        display: grid;
        grid-template-columns: 35% 35% 35%;
        grid-column: 4 / 6;
        grid-row: 3 / 5;
        text-align: center;
    }

    #contactIcons i {
        font-size: 2rem;
    }

    footer {
        display: block;
        grid-template-columns: 100%;
        padding: 0.3125em;
    }

    #logo1 {
        grid-column: 1 / 5;
        grid-row: 3 / 6;
    }

    #aboutMe {
        display: block;
    }

    #selfie {
        display: block;
        grid-column: 4 / 6;
        grid-row: 3 / 5;
    }

    #selfie img {
        width: 50%;
        height: auto;
        border-radius: 6%;
        justify-content: center;
    }

    #monogram {
        grid-column: 1 /;
        grid-row: 3 / 4;
        margin: auto;
    }

    #galleryDigitalSkills {
        grid-column: 1 / 6;
        grid-row: 2 / 5;
    }

    #galleryDigitalSkills figure {
        width: 21.875em;
        margin: auto;
    }

    #galleryDigitalSkills figcaption {
        text-align: center;
        color: yellow;
        width: 100%;
    }

    #galleryDigitalSkills img {
        width: 100%;
        background-color: white;
        box-shadow: 0 .29rem .57rem 0 rgba(0, 0, 0, 0.2), 0 .43rem 1.43rem 0 rgba(0, 0, 0, 0.19);
        text-align: center;
        padding: .714rem 1.43rem;
    }

    #galleryMixedMedia {
        grid-column: 3 / 6;
        grid-row: 1 / 6;
    }

    #galleryMixedMedia img {
        border: .071rem solid #ddd;
        border-radius: .29rem;
        padding: .36rem;
        width: 100%;
    }
    
    #galleryMixedMedia figure {
        width: 18.75em;
    }

    #galleryMixedMedia figcaption {
        width: 100%;
        padding: 2%;
        text-align: justify;
        font-size: .75rem;
        color: lightseagreen;
        text-align: left;
    }

    #galleryMixedMedia img:hover {
        box-shadow: 0 0 .14rem .071rem rgba(0, 140, 186, 0.5);
    }

    #galleryTypography {
        grid-column: 3 / 5;
        grid-row: 1 / 5;
    }

    #galleryBrands {
        display: block;
        grid-row: 1 / 6;
        grid-column: 4 / 6;
    }

    #visualMediaIcons {
        grid-column: 2 / 5;
        grid-row: 4 / 6;
    }

    #digitalSkillsIcons {
        grid-column: 2 / 6;
        grid-row: 5 / 6;
        justify-content: center;

    }

}
