/* Typography */

body {
    font-size: .86rem;
    font-family: monospace;
    color: white;
}

header {
    text-align: center;
}

header a {
    text-decoration: none;
}

h1 {
    font-size: 1.29rem;
    font-weight: 100;
}

h2 {
    font-size: 1rem;
    font-weight: 100;
}

#nav1 a,
a:visited,
a:link {
    font-size: .86rem;
    text-decoration: none;
    color: white;
}

#nav1Black a,
a:visited,
a:link {
    font-size: .86rem;
    text-decoration: none;
    color: black;
}

#nav1 a:hover {
    color: red;
    font-size: .86rem;
    font-weight: 500;
}

#nav1Black a:hover {
    color: red;
    font-size: .86rem;
    font-weight: 500;
}

#nav2 i {
    font-size: .86rem;
    text-decoration: none;
    color: white;
}

#nav2Black i {
    font-size: .86rem;
    text-decoration: none;
    color: black;
}

#aboutIcons i {
    font-size: 3.2rem;
}

#visualMediaIcons i {
    font-size: 3.2rem;
    color: white;
}

#digitalSkillsIcons i {
    font-size: 3.2rem;
    color: white;
}

#contactIcons i {
    font-size: 3.2rem;
}

#legal i {
    font-size: .42rem;
}

footer {
    text-align: center
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}

/* background */

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

#wallpaper {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    position: relative;
    /* border-color: .36rem solid hotpink; */
}

#selfie img {
    max-width: 40%;
    height: auto;
    border-radius: 6%;
    float: right;
    margin-right: 1.43rem;
}

#logo1 img {
    height: 100%;
    max-width: 50%;
}

#logo2 img {
    height: 100%;
    width: 100%;
}

#monogram img {
    height: 5.36rem;
    width: 5.36rem;
}

#designMonogram img {
    height: 5.36rem;
    width: 5.36rem;
}

#galleryBrands img {
    max-width: 20rem;
}

iframe {
    height: 15rem;
    width: 20rem;
}

.pdf p,
.pdf a {
    color: orange;
    width: 20rem;
}

.pdf a:hover {
    color: red;
    width: 20rem;
}

#galleryMixedMedia img {
    border: .071rem solid #ddd;
    border-radius: .29rem;
    padding: .36rem;
    max-width: 10.71rem;
}

#galleryMixedMedia img:hover {
    box-shadow: 0 0 .14rem .071rem rgba(0, 140, 186, 0.5);
}

#galleryDigitalSkills img {
    width: 100%;
    background-color: white;
    box-shadow: 0 .29rem .57rem 0 rgba(0, 0, 0, 0.2), 0 .43rem 1.43rem 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: .714rem 1.43rem;
}

/* box model */

#nav1Black {
    padding: .714rem;
}

#nav1Black a {
    padding-right: .714rem;
}

#nav1 {
    padding: .714rem;
}

#nav1 a {
    padding-right: .714rem;
}

#logo1 figure,
figcaption {
    text-align: center;
}

#profile {
    width: 17.86rem;
    padding-left: 1.43rem;
    text-align: justify;
}

#aboutIcons,
#visualMediaIcons,
#contactIcons {
    width: 20rem;
}

#monogram {
    display: flex;
    grid-template-columns: 33% 33% 33%;
    justify-content: flex-end;
}

#designMonogram {
    display: flex;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

#visualMediaIcons,
#digitalSkillsIcons {
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: flex-end;
}

#galleryBrands,
#galleryMixedMedia,
#galleryTypography,
#galleryDigitalSkills {
    height: 8.6rem;
    display: grid;
    justify-content: center;
}

#galleryBrands,
#galleryMixedMedia,
#galleryTypography,
#galleryDigitalSkills figure {
    display: grid;
    justify-content: center;
    width: 36.71rem;
}

#galleryMixedMedia figcaption {
    width: 12rem;
    padding: .36rem;
    color: orange;
    text-align: left;
}

#galleryTypography {
    width: 31.42rem;
    padding: .714rem;
}

#galleryBrands figcaption {
    width: 17.86rem;
    padding-top: .714rem;
    padding-left: .071rem;
    color: aqua;
    text-align: right;
}

#galleryDigitalSkills figcaption {
    width: 35.71rem;
    color: aqua;
    text-align: center;
}

footer {
    padding: .714rem;
}

/* columns */

header {
    display: grid;
    grid-template-columns: 100%;
    padding-bottom: 3.57rem;
}

main {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    height: 40rem;
}

#logo1 {
    grid-column-start: 1;
    grid-row-start: 4;
}

#logo2 {
    grid-column-start: 1;
    grid-row-start: 1;
}

#aboutMe {
    grid-column-start: 1;
    grid-row-start: 2;
}

#aboutIcons {
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: flex-end;
    grid-column-start: 2;
    grid-row-start: 5;
}

#selfie {
    grid-column-start: 4;
    grid-row-start: 4;
}

#contactIcons {
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: flex-end;
    grid-column-start: 3;
    grid-row-start: 3;
}

#monogram {
    grid-column-start: 2;
    grid-row-start: 5;
}

#designMonogram {
    grid-column-start: 2;
    grid-row-start: 5;
}

#galleryBrands,
#galleryMixedMedia,
#galleryTypography,
#galleryDigitalSkills {
    grid-column-start: 3;
    grid-row-start: 1;

}

#visualMediaIcons,
#digitalSkillsIcons {
    grid-column-start: 2;
    grid-row-start: 5;
}

footer {
    display: grid;
    grid-template-columns: 100%;
}
