/* Typography */

body {
    font-size: .86rem;
    font-family: monospace;
    color: white;
}

header {
    text-align: center;
}

header a {
    text-decoration: none;
}

h1 {
    font-size: 1.29rem;
    font-weight: 100;
}

h2 {
    font-size: 1rem;
    font-weight: 100;
}

#nav1 a,
a:visited,
a:link {
    font-size: .86rem;
    text-decoration: none;
    color: white;
}

#nav1Black a,
a:visited,
a:link {
    font-size: .86rem;
    text-decoration: none;
    color: black;
}

#nav1 a:hover {
    color: red;
    font-size: .86rem;
    font-weight: 500;
}

#nav1Black a:hover {
    color: red;
    font-size: .86rem;
    font-weight: 500;
}

#nav2 i {
    font-size: .86rem;
    text-decoration: none;
    color: white;
}

#nav2Black i {
    font-size: .86rem;
    text-decoration: none;
    color: black;
}

#aboutIcons i {
    font-size: 3.2rem;
}

#visualMediaIcons i {
    font-size: 3.2rem;
    color: white;
}

#digitalSkillsIcons i {
    font-size: 3.2rem;
    color: white;
}

#legal i {
    font-size: .42rem;
}

footer {
    text-align: center
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}

/* background */

* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

#wallpaper {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    position: relative;
    /* border-color: 5px solid hotpink; */
}

#selfie img {
    max-width: 23%;
    height: auto;
    border-radius: 6%;
    float: right;
    margin-right: 20px;
}

#logo1 img {
    height: 100%;
    max-width: 20%;
}

#logo2 img {
    height: 100%;
    width: 100%;
}

#monogram img {
    height: 5.36rem;
    width: 5.36rem;
}

#designMonogram img {
    height: 5.36rem;
    width: 5.36rem;
}

#galleryBrands img {
    max-width: 16rem;
}

iframe {
    height: 300px;
    width: 250px;
}

#galleryMixedMedia img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 10.71rem;
}

#galleryMixedMedia img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#galleryDigitalSkills img {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 10px 20px;
}

/* box model */

#nav1Black {
    padding: 10px;
}

#nav1Black a {
    padding-right: 10px;
}

#nav1 {
    padding: 10px;
}

#nav1 a {
    padding-right: 10px;
}

#logo1 figure, figcaption {
    text-align: center;
}

#logo2,
#aboutMe {
    padding-left: 20px;
    width: 250px;
    text-align: justify;
}

#aboutIcons, #visualMediaIcons {
    width: 500px;
}

#monogram {
    display: flex;
    grid-template-columns: 33% 33% 33%;
    justify-content: flex-end;
}

#designMonogram {
    display: flex;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
}

#visualMediaIcons, #digitalSkillsIcons {
    display: inline-grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: flex-end;
}

#galleryBrands,
#galleryMixedMedia,
#galleryTypography,
#galleryDigitalSkills {
    height: 825px;
    padding-top: 25px;
    display: grid;
    justify-content: center;
}

#galleryBrands,
#galleryMixedMedia,
#galleryTypography,
#galleryDigitalSkills figure {
    display: grid;
    justify-content: center;
    width: 200px;
}

#galleryMixedMedia {
    width: 175px;
    padding: 5px;
    color: hotpink;
}

#galleryTypography {
    width: 300px;
    padding: 10px;
}

#galleryBrands figcaption {
    width: 250px;
    padding-top: 10px;
    padding-left: 1px;
    color: aqua;
}

#galleryDigitalSkills figcaption {
    width: 200px;
    color: aqua;
    text-align: center;
}

footer {
    padding: 10px;
}

/* columns */

header {
    display: grid;
    grid-template-columns: 100%;
    padding-bottom: 50px;
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    height: 56rem;
}

#logo1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

#logo2 {
    grid-column-start: 1;
    grid-row-start: 1;
}

#aboutMe {
    grid-column-start: 1;
    grid-row-start: 2;
}

#aboutIcons {
    display: inline-grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: flex-end;
}

#selfie {
    grid-column-start: 2;
    grid-row-start: 1;
}

#aboutIcons {
    grid-column-start: 1;
    grid-row-start: 3;
}

#galleryBrands,
#galleryMixedMedia,
#galleryTypography,
#galleryDigitalSkills {
    grid-column-start: 2;
    grid-row-start: 1;
}

#monogram {
    grid-column-start: 1;
    grid-row-start: 3;
}

#designMonogram {
    grid-column-start: 1;
    grid-row-start: 3;
}

#galleryBrands,
#galleryMixedMedia,
#galleryTypography,
#galleryDigitalSkills {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#visualMediaIcons, #digitalSkillsIcons {
    grid-column-start: 1;
    grid-row-start: 3;
}

footer {
    display: grid;
    grid-template-columns: 100%;
}
